@import url(colors.css);

.compare-result {
  margin: 0 auto;
  width: 70%;
  height: 100%;
}

.picks-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-choice {
  text-align: center;
  width: 40%;
}

.result {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.result p {
  font-size: 3rem;
  padding: 0 0 15px 0;
}

.play-again {
  background: var(--white);
  outline: none;
  border: none;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

.play-again p {
  font-size: 1.5rem;
  text-align: center;
  line-height: 2.8;
}

.play-again:hover {
  color: var(--rock-gradient);
}

.computer-choice {
  text-align: center;
  width: 40%;
}

.player-choice-image,
.computer-choice-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0 0 0;
  width: 70%;
  height: 100%;
}

.image-container-compare img,
.image-container-compare img {
  width: 60%;
}

.player-choice p,
.computer-choice p {
  color: var(--white);
  padding: 0 0 20px 0;
}

.image-container-compare {
  width: 60%;
  height: 50%;
  background: var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rock-complete {
  background-image: var(--rock-gradient);
  border-radius: 50%;
}
