@import url(colors.css);

/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.6rem;
  background: radial-gradient(at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 100px;
  margin: 40px 0 0 0;
  padding: 10px 15px;
  border: 2px solid var(--header-line);
  border-radius: 10px;
}

.title-container,
.score-container {
  width: 100px;
}

.title-container p {
  font-weight: 600;
  color: var(--white);
  line-height: 0.8;
  font-size: 2.5rem;
}

.score-container {
  background: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 0 0;
  border-radius: 5px;
  line-height: 1.1;
}

.score-title {
  color: var(--score-title-text);
  font-size: 1.4rem;
}

.score-number {
  color: var(--score-text);
  font-size: 4rem;
  font-weight: 700;
  opacity: 0.9;
  padding: 0 0 10px 0;
}

main {
  margin: 50px auto;
  width: 50%;
  height: calc(100% - 100px);
  margin: 100px 0 0 0;
}

.picks-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.choice-container {
  text-align: center;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.choice-container p {
  color: var(--white);
  padding: 0 0 20px 0;
  font-size: 2rem;
}

.image-container {
  width: 80%;
  height: 80%;
  box-shadow: inset 0px 8px 0px rgb(0, 0, 0, 0.15);
  background: var(--white);
  border-radius: 50%;
  display: grid;
  place-items: center;
  pointer-events: none;
}

.image-container img {
  width: 60%;
}

.rock-complete {
  background-image: var(--rock-gradient);
}

.scissors-complete {
  background-image: var(--scissors-gradient);
}

.paper-complete {
  background-image: var(--paper-gradient);
}

.rock-complete,
.scissors-complete,
.paper-complete {
  display: grid;
  place-items: center;
  margin: 20px 0 0 0;
  width: 70%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.rules {
  position: absolute;
  right: 3%;
  bottom: 3%;
  background: transparent;
  border: 2px solid var(--header-line);
  border-radius: 8px;
  width: 100px;
  height: 40px;
  color: var(--white);
  font-weight: 700;
  cursor: pointer;
}

.hidden {
  display: none;
}

.rules-container.hidden {
  display: none;
}

.game-container.hidden {
  display: none;
}
/*  */
/* phase-1 styling */

.game-container {
  position: relative;
  background-position: center;
  background-size: cover;
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container .triangle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.game-container .button {
  aspect-ratio: 1/1;
  position: absolute;
  border-radius: 50%;
  width: 30%;
  cursor: pointer;
  border: none;
  display: grid;
  place-items: center;
  box-shadow: inset 0px 8px 0px rgb(0, 0, 0, 0.15);
}

.game-container .button--paper {
  background-image: var(--paper-gradient);
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.game-container .button--scissors {
  background-image: var(--scissors-gradient);
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
}

.game-container .button--rock {
  background-image: var(--rock-gradient);
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.game-container img {
  pointer-events: none;
}

/*  */
/* phase-2 styling */
.player-pick-result {
  width: 100%;
}

.player-pick-result .empty-button {
  opacity: 0.1;
  width: 70%;
  aspect-ratio: 1/1;
  background: black;
  border-radius: 50%;
  margin: 20px 0 0 0;
}

.player-pick-result .empty-button img {
  display: none;
}
/*  */
/* phase-3, final-result styling */
.final-result {
  width: 100%;
}

.final-result .result {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.result-text {
  font-size: 3rem;
  padding: 0 0 15px 0;
  color: var(--white);
}

.final-result .play-again {
  background: var(--white);
  outline: none;
  border: none;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

.final-result .play-again p {
  font-size: 1.5rem;
  text-align: center;
  line-height: 2.8;
  color: black;
}

.final-result .play-again:hover {
  color: var(--rock-gradient);
}

/*  */
