@import url(colors.css);

.phase-2 {
  width: 100%;
}

.phase-2 .picks-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.phase-2 .computer-choice-button {
  opacity: 0.3;
}

.phase-2 .empty {
  width: 80%;
  height: 80%;
  background: black;
  opacity: 0.3;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
