@import url(colors.css);

.phase-4 {
  width: 100%;
}

.phase-4 .picks-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phase-4 .result {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.phase-4 .result p {
  font-size: 3rem;
  padding: 0 0 15px 0;
  color: var(--white);
}

.phase-4 .play-again {
  background: var(--white);
  outline: none;
  border: none;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

.phase-4 .play-again p {
  font-size: 1.5rem;
  text-align: center;
  line-height: 2.8;
  color: black;
}

.phase-4 .play-again:hover {
  color: var(--rock-gradient);
}
