/* rules styling */
.rules-content {
  position: absolute;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--white);
  padding: 30px;
  border-radius: 8px;
}

.rules-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 30px 0;
}

.rules-header button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.rules-header img {
  width: 20px;
  height: 20px;
}

.rules-title {
  color: var(--score-text);
}

.rules-main-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*  */
